@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#base{
  font-family: 'Bebas Neue';
  background-image: url(black_widow_2020.jpgs);
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed !important;
  margin-top: 100px;

}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top : -60px;
  min-width: 100%;
  min-height: 100%;
  z-index: -999999;
 display: none;
}
.header{
  border-bottom: 5px solid #fff;
  opacity: 0.6;
  background-color: #171313;
  display: none;
}
#logo{
  height: 37px;
}
#ms{
  font-size: 50px;
  color: #fff;
  margin:8px 24px;
  opacity: 1.0;
}
#avengers{
  max-width: 60%;

}
#avengers img{
  width: 70%;
   margin: 10%;
   transition: all 0.5s;
   cursor: pointer;
   z-index: 999999;
  /* margin-top: 150px;  */
}
#avengers img:hover{
  width: 80%;
  margin: 7.4%;
}
.login{
  padding: 15px;
  margin: 15px;
  width: 77%;
  border-radius: 10px;
  border: 0px;
  background-color: #ccccff;
  font-family: 'Bebas Neue';
  letter-spacing: 1px;
  font-size: 15px;
}
#block{
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  max-width: 30%;
  text-align :center;
  box-shadow: 16px 24px 20px;
  border: 0px;
  width: 20%;
  margin: 2%;
  opacity: 0.8;
}
#block h2{
  text-align: center;
  letter-spacing: 2px;
  font-size: 40px;
  margin: 10px;
}
#loginblock{
  display: flex;
  align-items: center;
  padding: 10px;
}
#log{
  margin-bottom: 1px;
  cursor: pointer;
}
#nam{
  margin: 5px;
}

.outerPopup{
  display: none;
  top: 0;
  left: 0;
background-color: #000000a6;
width: 100%;
position: fixed;
height: 100%;
z-index: 999;

}
.formPopup{
transform: translate(-35%, -15%);
display: flex;
position: fixed;
top: 20%;
left: 40%;
margin: auto;
z-index: 999;
background-color: #ffffff;
height: 80%;
width: 50%;
opacity: 0.9;
/* padding: 40px;
border-radius: 20px; */
text-align: center;
}
#popform{
  padding : 35px;
}
#close{
  width: 30px;
  z-index: 1000;
  transform: translate(160px, -45px);
  cursor: pointer;
  background: #fff;
  border-radius: 15px;
  transition: all 0.3s;
}
#close:hover{
  background: #bcc7ec;
}
